@import 'treo';

contacts-details {
    display: flex;
    flex: 1 1 auto;

    .actions {
        text-align: right;
        padding: 20px;
    }
    .order-history {
        margin: 20px;

        & .mt-10 {
            margin-top: 10px;
        }

        & .timeline {
             position: relative;
             height: 50px;
             overflow: hidden;

             & .ml-5 {
                 margin-left: 5px;
             }
             & .w-50 {
                 width: 50%;
             }
             & .t-right {
                 text-align: right;
             }
             & .scale-half {
                transform: scale(0.40, 0.40) !important;
                position: absolute;
                left: 45%;
                top: 10%;
                z-index: 1;
            }
             & .mr-5 {
                 margin-right: 5px;
             }
             & .pull-3 {
                 position: relative;
                 transform: translate(0, 3px);
             }
             & .left-half {
                 float: left;
                 width: 50%;
                 display: flex;
                 justify-content: flex-end;
             }
             & .right-half {
                float: left;
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }
             
             & .float-r {
                float: right;
            }
        }
        & .vertical-line {
            position: relative;
            height: 90px;
            overflow: hidden;
            
            & .line {
                position: absolute;
                height: 90px;
                left: 49.8%;
                border-left: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
        
    }

    .order-timeline {
        margin: 35px 20px 20px 20px;
        
        & .wd-100 {
            width: 100%;
        }
        & .wd-85 {
            width: 85%;
        }
        & .wd-15 {
            width: 15%;
        }
        & .float-l {
            float: left;
        }
        & .float-r {
            float: right;
        }

        & .pad-t-5 {
            padding-top: 5px;
        }

        & .pad-l-5 {
            padding-left: 5px;
        }

        & table {
            & td {
                padding-left: 10px;
                //border: 1px solid rebeccapurple;

                & .vertical-align-center {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                & .muted-text {
                    color: gray;
                }

                & .bold-text {
                    font-weight: bold;
                }
                & .margin-l-5 {
                    margin-left: 5px;
                }
                & .margin-r-5 {
                    margin-right: 5px;
                }
                & .flex-dir-col {
                    flex-direction: column;
                }
            }
            & .pad-l-0 {
                padding-left: 0;
            }
            & .text-align-center {
                text-align: center;
            }
            & .padding-tb-5 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        & .vertical-line {
            position: relative;
            height: 45px;
            overflow: hidden;
            
            & .line {
                position: absolute;
                height: 45px;
                left: 49.8%;
                border-left: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
        

        .avatar {
            position: relative;
            display: flex;
            align-items: center;
            margin: auto;
            width: 48px;
            min-width: 48px;
            height: 48px;
            min-height: 48px;
            //margin-bottom: 8px;
            border-radius: 50%;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 50%;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .no-avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                font-size: 14px;
                line-height: normal;
                overflow: hidden;
                border-radius: 50%;
                color: white;
                background-color:  #1A202E;
            }
        }
    }

    & .order-details {
        margin: 20px;
        & .m-5 {
            margin: 5px;
        }
        & .w-100 {
            width: 100%;
        }
        & .d-flex-between{
            margin-top: 10px;
            display: flex;
            justify-content: flex-start;

            & .mr-5 {
                margin-right: 5px;
            }
            & .mw-190 {
                min-width: 190px;
            }
            & .mw-30 {
                min-width: 30px;
            }
            & .delete-btn {
                margin-top: 30px;
                 margin-left: 5px;
            }
        }
        & .table-w-full {
            width: 100% !important;
        }
        & .mtb-8 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        & .v-align-top {
            vertical-align: top;
        }
        & .text-bold {
            font-weight: bold !important;
        }
        & .ptb-20 {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
        & .pr-5 {
            padding-right: 5px !important;
        }
        & .chip-flatten {
            min-height: 16px !important;
        }
        & .plus-btn {
            display: flex ; 
            justify-content: flex-end;
            padding-top: 5px;
            padding-right: 5px;
        }
        & .form-error-status {
            margin: 10px;
            letter-spacing: 1px;
        }

        .c-green {
            color: green;
        }

        .c-red {
            color: red;
        }
    }

    & .customer_info {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 56px 64px 64px 80px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .avatar-and-name {
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: flex-start;
            margin-bottom: 8px;

            .avatar {
                position: relative;
                display: flex;
                align-items: center;
                margin: auto;
                width: 128px;
                min-width: 128px;
                height: 128px;
                min-height: 128px;
                margin-bottom: 24px;
                border-radius: 50%;
                overflow: hidden;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                }

                .upload,
                .remove {
                    position: absolute;
                    border-radius: 50%;

                    .mat-icon {
                        @include treo-icon-size(20);
                    }
                }

                .upload {
                    width: 40px;
                    height: 40px;
                    left: 24px;

                    #avatar-file-input {
                        position: absolute;
                        height: 0;
                        width: 0;
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        min-width: 40px;
                        height: 40px;
                        min-height: 40px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .remove {
                    width: 40px;
                    height: 40px;
                    right: 24px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .no-avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    text-transform: uppercase;
                    font-size: 56px;
                    line-height: normal;
                    overflow: hidden;
                    border-radius: 50%;
                    color: white;
                    background-color:  #1A202E;
                }
            }

            .view {
                width: 100%;

                .name {
                    font-size: 32px;
                    font-weight: 700;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .edit {
                width: 100%;

                .name {
                    width: 100%;

                    .mat-form-field-flex {
                        padding-top: 0;
                    }
                }
            }
        }

        .city {
            display: flex;
            align-items: center;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .view {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                .title,
                .zip {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .edit {
                display: flex;
                align-items: baseline;
                width: 100%;

                .mat-form-field {
                    flex: 1 1 auto;

                    .mat-form-field-infix {
                        width: auto;
                    }

                    + .mat-form-field {
                        flex: 1 1 auto;
                        padding-left: 16px;
                        max-width: 120px;
                        width: 100%;
                    }
                }
            }
        }

        .emails {
            display: flex;
            align-items: flex-start;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .email {
                display: flex;

                + .email {
                    margin-top: 16px;
                }
            }

            .view {
                width: 100%;

                .email {
                    align-items: center;
                    white-space: nowrap;

                    .address,
                    .label {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .label {

                        .separator {
                            margin: 0 8px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .phone-numbers {
            display: flex;
            align-items: flex-start;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .phone-number {
                display: flex;
                white-space: nowrap;

                + .phone-number {
                    margin-top: 16px;
                }
            }

            .view {
                width: 100%;

                .phone-number {
                    align-items: center;

                    .flag {
                        display: flex;
                        width: 24px;
                        min-width: 24px;
                        max-width: 24px;
                        height: 16px;
                        min-height: 16px;
                        max-height: 16px;
                        margin-right: 12px;
                        background: url('/assets/images/apps/contacts/flags.png') no-repeat 0 0;
                        background-size: 24px 3876px;
                        overflow: hidden;
                    }

                    .code {
                        margin-right: 6px;
                    }

                    .number,
                    .label {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .label {

                        .separator {
                            margin: 0 8px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .address {
            display: flex;
            align-items: center;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .view {
                width: 100%;
                line-height: 1.8;
            }

            .edit {
                display: flex;
                align-items: baseline;
                width: 100%;

                .mat-form-field {
                    width: 100%;
                }
            }
        }

        .created-at {
            display: flex;
            align-items: center;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .view {
                display: flex;
                align-items: center;
                width: 100%;
            }
            
        }

        .notes {
            display: flex;
            align-items: flex-start;
            margin-top: 32px;

            .icon {
                margin: 0 30px 0 -50px;
            }

            .view {
                width: 100%;

                div {
                    white-space: pre-line;
                    line-height: 1.7;
                }
            }
        }
    }
}

