@import 'treo';

auth-sign-in {

    .content-layout {
        align-items: center;
        justify-content: center;
    }
}
.scale-2x {
    svg {
        transform: scale(2) ;
    }
}
// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
